.box {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid #000;
    vertical-align: top;
}

.box:hover {
    background: #f60;
    width: 300px;
}

#box {
    transition: all 2s ease 1s
}

#box1 {
    transition: all 2s ease -1s
}

#box3 {
    transition: all 2s ease -2s
}

#box4 {
    transition: all 2s cubic-bezier(2,2,2,2) 
}
#box5 {
    transition: all 2s cubic-bezier(.03,-0.74,.83,.67)
}
#box6 {
    transition: all 2s cubic-bezier(.05,.62,.88,1.52)
}
#box7 {
    transition: all 2s cubic-bezier(.36,-0.79,.59,1.71)
}

@keyframes step {
    to {
        transform: translateX(500px);
    }
}

@keyframes step1 {
    25%{
        transform: translateX(500px);
    }
    50%{
        transform: translateX(500px)  rotateZ(180deg);
    }
    75% {
        transform: translateX(500px)  rotateZ(180deg)  scale(1.2);
    }
}

.animation1, .animation2 {
    width: 80px;
    height: 80px;
    margin-top: 30px;
}

.animation1 {			    
    background: #980;
}

.animation2 {
    background: #0f9;
}

.animatestart {
    line-height: 45px;
    background: #888;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: #ddd;
}

#animatestart1:hover ~ #animate1 {
    animation: step 6s steps(5,start) 
}

#animatestart1:hover ~ #animate2 {
    animation: step 6s steps(5,end)
}


#animatestart2:hover ~ #animate3 {
    animation: step 6s steps(5,end) 
}

#animatestart2:hover ~ #animate4 {
    animation: step 6s steps(5,end) forwards
}

#animate5 {
    animation: step1 15s steps(5,start) 
}

#animate6 {
    animation: step1 15s steps(5,end) 
}