.box {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid #000;
    vertical-align: top;
}

.box:hover {
    background: #f60;
    width: 300px;
}

#box {
    transition: all 2s ease 1s
}

#box1 {
    transition: all 2s ease -1s
}

#box3 {
    transition: all 2s ease -2s
}

#box4 {
    transition: all 2s cubic-bezier(2,2,2,2) 
}
#box5 {
    transition: all 2s cubic-bezier(.03,-0.74,.83,.67)
}
#box6 {
    transition: all 2s cubic-bezier(.05,.62,.88,1.52)
}
#box7 {
    transition: all 2s cubic-bezier(.36,-0.79,.59,1.71)
}

@keyframes step {
    to {
        transform: translateX(500px);
    }
}

.animation1 {
    width: 80px;
    height: 80px;
    background: #980;
}

.animation2 {
    width: 80px;
    height: 80px;
    background: #0f9;
}

#animate1 {
    animation: step 6s steps(5,start) infinite
}

#animate2 {
    animation: step 6s steps(5,end) infinite
}