---
layout: default
---

<article class="posts">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

<!--   {% include disqus.html %} -->
</article>

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
        ← 上一篇
      </a>
    </span>
  {% endif %}
  {% if page.next.url %}
    <span class="next" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
        下一篇 →
      </a>
    </span>
  {% endif %}
</div>

<div id="gitalk-container"></div>
<!-- <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script> -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script>
// var gitment = new Gitment({
//     owner: 'huajianzui',
//     repo: 'huajianzui.github.io',
//     oauth: {
//         client_id: 'a7138871aba1bd6afd8e',
//         client_secret: 'b794028b7a306c7a158628b43eb56574c44be83d',
//     },
// });
// gitment.render('gitmentContainer');
var gitalk = new Gitalk(
  {
    clientID: `6edcb6d852edf31b2b56`,
    clientSecret: `4cd53b6c54b574f12eac06c9dd29d717e72db27d`,
    repo: `huajianzui.github.io`,
    owner: 'huajianzui',
    admin: ['huajianzui'],
    id: 'window.location.pathname', 
  }
);
gitalk.render('gitalk-container');
</script>